.container {
    background-color: rgb(227, 223, 218);
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.5);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .7em 2em;
}

.darkMode {
    color: orangered;
}

.lightMode {
    color: blue;
}
.heading {
    /* color: blue; */
}

.links {
    display: flex;
    gap: 2em;
}

.link {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    font-size: 1.8em;
}

.togglers {
    display: flex;
    gap: .5em;
    font-size: 1.3em;
}