.container {
    background-color: rgb(227, 223, 218);
    box-shadow: 10px 0 5px rgba(0, 0, 0, 0.5);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .7em 2em;
}

.heading {

}

.navs {

}

.links {
    display: flex;
    gap: .7em;
}

.link {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 1.5em;
}

.togglers {
    display: flex;
    gap: .5em;
    font-size: 1.3em;
}